<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><html><![endif]-->
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ asset('bundles/adwslider/css/style.css') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--script(src="/js/require.js")-->
    <title>HTML Page</title>
</head>

<body>
<div class="wrapper">
    <div class="website">
            {{ adw_slider('slidermain') }}
    </div>
</div>
</body>

</html>